BOT_TOKEN=<Sprout SDK Token - learn how to get at https://developer.sprout.spot>
TARGET_USER=popbase
DESIRED_ROOT=twitter
RETTIWT_KEY=<Rettiwit Key - learn how to get at https://www.npmjs.com/package/rettiwt-api>